h3{
    text-align: center;
    font-size: 2em;
}
.formPedido{
    position: relative;
    width: 50%;
    height: 100%;
    left: 38%;
    font-size: 1.5em;
}

.formPedido form{
    display: grid;
    width: 50%;
    margin-top: 20px;
}

